.toggleTextWrapper {
  margin: 20px 0;
}

.toggleTextButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}

.arrow {
  display: inline-block;
}

.toggleTextContent {
  overflow: hidden;
}

.line {
  height: 1px;
  background-color: black;
  margin-top: 15px;
  opacity: 0.2;
  width: 0;
  margin-bottom: 10px;
}

.center_button {
  display: flex;
  justify-content: center;
}
