@import "../../styles/variables.scss";

.homeContainer {
    height: calc(100dvh - px-to-rem(76));
    color: white;
    position: relative;
    overflow: hidden;
    @media (max-height: 700px) {
      height: calc(100dvh - px-to-rem(76));
    }

    svg {
        position: absolute;
        left: 20%;
        bottom: 0;
        height: 100%;
        z-index: 1;
        width: 2px;
      }
}